<!DOCTYPE html>
<html>
	<body>
		<main>
			<div>
				<label>Election name:</label>
				<input type="text" id="election_name" name="election_name">
			</div>
			<div>
				<label>Election description:</label>
				<input type="text" id="election_description" name="election_description">
			</div>
			<div>
				<label>Question 1:</label>
				<input type="text" id="question_1" name="question_1">
			</div>
			<div>
				<label>Question 1 options:</label>
				<input type="text" id="question_1_opt" name="question_1_opt">
			</div>
			<div>
				<label>Question 2:</label>
				<input type="text" id="question_2" name="question_2">
			</div>
			<div>
				<label>Question 2 options:</label>
				<input type="text" id="question_2_opt" name="question_2_opt">
			</div>
			<div>
				<label>Crypto - p:</label>
				<input type="text" id="elgamal_p" name="elgamal_p">
			</div>
			<div>
				<label>Crypto - g:</label>
				<input type="text" id="elgamal_g" name="elgamal_g">
			</div>
			<div>
				<label>Crypto - Trustee public keys:</label>
				<textarea id="elgamal_y" name="elgamal_y"></textarea>
			</div>
			<div>
				<label>Crypto - Trustee private keys:</label>
				<textarea id="trustee_x" name="trustee_x"></textarea>
			</div>
			<button id="btn_create_proof" type="button">Create Zero-Knowledge Proof</button>
			<div>
				<label>Proof - a:</label>
				<textarea id="proof_a" name="proof_a"></textarea>
			</div>
			<div>
				<label>Proof - f:</label>
				<textarea id="proof_f" name="proof_f"></textarea>
			</div>
			<div>
				<label>Voter 1 public key:</label>
				<textarea id="voter_1_key" name="voter_1_key"></textarea>
			</div>
			<div>
				<label>Voter 2 public key:</label>
				<textarea id="voter_2_key" name="voter_2_key"></textarea>
			</div>
			<div>
				<label>Voter 3 public key:</label>
				<textarea id="voter_3_key" name="voter_3_key"></textarea>
			</div>

			<button id="btn_create" type="button">Create Election</button>

			<div id="msg"></div>
		</main>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="http://peterolson.github.com/BigInteger.js/BigInteger.min.js"></script>
		<script src="/js/lib/encoding.js"></script>
		<script src="/js/createElection.js"></script>
	</body>
</html>