<%- include('./inc/header', { page_title: "eVoting", css: ""}); %>

<main>
	<div class="row">
		<div class="col s12 l4">
			<div class="card">
				<div class="card-content">
					<h1 class="center-align thin">Create election</h1>
				</div>
			</div>
		</div>

		<div class="col s12 l8">
			<div class="row">
				<div class="col s12">
					<div class="card">
						<dic class="row">
							<div class="col s12">
								<h5>About the election</h5>
							</div>
							<div class="input-field col s12">
								<input id="election_name" name="election_name" type="text" class="validate">
								<label for="election_name">Election name</label>
							</div>
							<div class="input-field col s12">
								<textarea id="election_description" name="election_description" class="materialize-textarea"></textarea>
								<label for="election_description">Election description:</label>
							</div>
						</dic>
					</div>
				</div>

				<div class="col s12">
					<div class="card">
						<dic class="row">
							<div class="col s12">
								<h5>Election public key</h5>
							</div>
							<div class="input-field col s12">
								<input id="elgamal_p" name="elgamal_p" type="text" class="validate">
								<label for="elgamal_p">Prime number - p (Base64 Encode)</label>
							</div>
							<div class="input-field col s12">
								<input id="elgamal_g" name="elgamal_g" type="text" class="validate">
								<label for="elgamal_g">Generator - g (Base64 Encode)</label>
							</div>
						</dic>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('./inc/footer', {script: ""}); %>