<%- include('./inc/header', { page_title: "eVoting", css: "<link href='/css/eManQuestion.css' rel='stylesheet' type='text/css' />"}); %>

<main>
	<div class="row">
		<div class="col s12 l4">
			<div class="card">
				<div class="card-content">
					<h1 class="center-align thin">Edit questions</h1>
				</div>
			</div>
		</div>

		<div class="col s12 l8">
			<div class="row">
				<div class="col s12">
					<div class="card" id="about_card">
						<div class="row">
							<div class="col s12">
								<h5>Question 1</h5>
							</div>
							<div class="input-field col s12">
								<input id="q1_title" name="q1_title" type="text" class="validate">
								<label for="q1_title">Title</label>
							</div>
							<div class="input-field col s12">
								<i class="material-icons prefix">check_box_outline_blank</i>
								<input id="q1_ans1" name="q1_ans1" type="text" class="validate">
								<label for="q1_ans1">Option 1</label>
							</div>
							<div class="input-field col s12 l6">
								<input id="q1_min" name="q1_min" type="text" class="validate">
								<label for="q1_min">Minimium no. of choice(s)</label>
							</div>
							<div class="input-field col s12 l6">
								<input id="q1_max" name="q1_max" type="text" class="validate">
								<label for="q1_max">Maximium no. of choice(s)</label>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12" id="btn_add_col">
					<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
				</div>

				<div class="col s12">
					<div class="card" id="admin_card">
						<div class="row">
							<div class="col s12">
								<h5>Election administrator key</h5>
							</div>
							<div class="input-field col s12">
								<textarea id="admin_pri" name="admin_pri" class="materialize-textarea"></textarea>
								<label for="admin_pri">Private key (for signing only, wont send to server)</label>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12">
					<button id="btn_submit" class="btn waves-effect waves-light right">Submit</button>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('./inc/footer', {script: ""}); %>