<%- include('./inc/header', { page_title: "eVoting", css: ""}); %>

<main>
	<h4 class="center-align">Welcome to eVoting</h4>
	<div class="center-align">
		<a class="waves-effect waves-light btn-large" href="/election/create">Create New Election</a>
	</div>
</main>

<%- include('./inc/footer', {script: ""}); %>