<!DOCTYPE html>
<html>
	<body>
		<main>
			<div>
				<label>Election ID:</label>
				<input type="text" id="election_id" name="election_id">
			</div>
			<button id="btn_details" type="button">Get details</button>
			<div id="details"></div>

			<div>
				<label>Voter ID:</label>
				<input type="text" id="voter_id" name="voter_id">
			</div>
			<div>
				<label>Voter private key:</label>
				<textarea id="private_key" name="private_key"></textarea>
			</div>

			<div id="options"></div>

			<button id="btn_vote" type="button">Vote</button>

			<div id="msg"></div>
		</main>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="http://peterolson.github.com/BigInteger.js/BigInteger.min.js"></script>
		<script src="/js/lib/encoding.js"></script>
		<script src="/js/vote.js"></script>
	</body>
</html>